<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | </title>

    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/index.css">
</head>
<body>

     <!-- The video -->
     <video autoplay muted loop id="video">
        <source src="/public/video/stars.mp4" type="video/mp4">
    </video>

        <div class="container">

            <img id="avatar" src="../../public/images/avatar.png" alt="avatar" width="200" height="200">

            <h1>Hi, i'm Mariana</h1>

            <p> and i'm learning how to be a good developer : ) </p>

            <nav class="navigation">
                <!-- menu <img src="" alt=""> -->
            </nav>
            
            <div class="social-links">
                <a href="https://github.com/marianaccn" target="_blank">
                    <img class= "social-icons" src="../../public/images/github.svg" alt="github">
                </a>

                <a href="https://twitter.com/mari_221b" target="_blank"> 
                    <img class= "social-icons" src="../../public/images/tt.svg" alt="twitter">
                </a>

                <a href="https://www.linkedin.com/in/mariana-cavalcante-candido-755252143/" target="_blank">
                    <img id= "icon-in" src="../../public/images/in.svg" alt="linkedin">
                </a>

            </div>

        </div>

        <script>

            var vid = document.getElementById("video");
            vid.playbackRate = 0.6;
    
        </script>
    </body>
</html>