<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | </title>

    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/index.css">
</head>
<body>

     <!-- The video -->
     <video autoplay muted loop id="video">
        <source src="/public/video/stars.mp4" type="video/mp4">
    </video>

        <div class="container">

            <!-- <img id= "avatar" src="../../public/images/foto-avatar-black.svg" alt="avatar"> -->

            <h1>Hi, i'm Mariana</h1>

            <p> and i'm trying to be a nice developer ;) </p>

            <nav class="navigation">
                <!-- menu <img src="" alt=""> -->
            </nav>
            
            <!-- <div id="social-links">
                <img src="../../public/images/in.svg" alt="linkedin">
                <img src="../../public/images/github.svg" alt="github">
                <img src="../../public/images/tt.svg" alt="">
            </div> -->

        </div>


        <script>

            var vid = document.getElementById("video");
            vid.playbackRate = 0.6;
    
        </script>
    </body>
</html>